<div id="footer" class="footer pb-2">
  <footer>
    <div class="footer-nav d-lg-flex flex-row justify-content-lg-center justify-content-xl-end border-bottom mb-4">
      <ul class="nav justify-content-center mb-4">
        <li class="nav-item"><a href="/#main" class="nav-link px-1 px-sm-2 px-lg-2 px-xl-4">MAIN</a></li>
        <li class="nav-item"><a href="/#about" class="nav-link px-1 px-sm-2 px-lg-2 px-xl-4">ABOUT</a></li>
        <li class="nav-item"><a href="/#features" class="nav-link px-1 px-sm-2 px-lg-2 px-xl-4">GAME FEATURES</a></li>
        <li class="nav-item"><a href="/#requirements" class="nav-link px-1 px-sm-2 px-lg-2 px-xl-4">SYSTEM REQUIREMENTS</a></li>
        <li class="nav-item"><a href="/#quotes" class="nav-link px-1 px-sm-2 px-lg-2 px-xl-4">QUOTES</a></li>
      </ul>
      <ul class="nav justify-content-center list-unstyled d-flex ps-lg-5 ms-lg-5 pb-2 mb-4">
        <li>
          <a class="facebook" rel="noopener" target="_blank" href="https://www.facebook.com/binaracademy">
            <i class="fa-brands fa-facebook-f fa-xl"></i>
          </a>
        </li>
        <li>
          <a class="twitter ms-3 ms-sm-5" rel="noopener" target="_blank" href="https://www.twitter.com/academybinar">
            <i class="fa-brands fa-twitter fa-xl"></i>
          </a>
        </li>
        <li>
          <a class="youtube ms-3 ms-sm-5" rel="noopener" target="_blank" href="https://www.youtube.com/c/BinarAcademy">
            <i class="fa-brands fa-youtube fa-xl"></i>
          </a>
        </li>
        <li>
          <a class="twitch ms-3 ms-sm-5" rel="noopener" target="_blank" href="https://www.twitch.tv">
            <i class="fa-brands fa-twitch fa-xl"></i>
          </a>
        </li>
      </ul>
    </div>
    <div class="copyright d-lg-flex text-center justify-content-between">
      <p class="copyright-start">© 2022 Your Games, Inc. All Rights Reserved</p>
      <P class="copyright-end text-center">
        <a href="#">Privacy Policy</a>
        |
        <a href="#">Terms of Services</a>
        |
        <a href="#">Code of Conduct</a>
      </P>
    </div>
  </footer>
</div>

<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
