<!-- Metadata -->
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<!-- Bootstrap CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous" />

<!-- Google Font -->
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet" />

<!-- Font Awesome Icon -->
<script src="https://kit.fontawesome.com/90fceccab4.js" crossorigin="anonymous"></script>

<!-- Header & Footer CSS -->
<style>
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  /* Navbar */
  .navbar {
    width: 100%;
    z-index: 100;
    background: rgba(0, 0, 0, 0.5);
  }
  .navbar-brand {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #ffffff;
  }
  .navbar-dark .navbar-nav .nav-link {
    color: #ffffff;
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    text-align: left;
    letter-spacing: 0.1em;
    text-transform: uppercase;
  }
  .navbar-dark .navbar-nav .nav-link:hover {
    color: gray;
  }
  /* Footer */
  .footer {
    padding: 2% 7% 0 7%;
    background: black;
    width: 100%;
  }
  .footer-nav .nav .nav-link {
    color: #ffffff;
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    text-align: left;
    letter-spacing: 0.1em;
    text-transform: uppercase;
  }
  .footer-nav .nav .nav-link:hover {
    color: gray;
  }
  .copyright-start {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #ffffff;
    mix-blend-mode: normal;
    opacity: 0.5;
  }
  .copyright-end {
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    text-align: right;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #ffffff;
  }
  .copyright-end a {
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    text-align: right;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #ffffff;
  }
  .copyright-end a:hover {
    color: gray;
  }
  .facebook {
    color: white;
    width: 24px;
    height: 24px;
  }
  .twitter {
    color: white;
    width: 24px;
    height: 24px;
  }
  .youtube {
    color: white;
    width: 24px;
    height: 24px;
  }
  .twitch {
    color: white;
    width: 24px;
    height: 24px;
  }
  .facebook:hover {
    color: #4267b2;
  }
  .twitter:hover {
    color: #1da1f2;
  }
  .youtube:hover {
    color: #ff0000;
  }
  .twitch:hover {
    color: #6441a5;
  }
</style>
