<nav class="navbar fixed-top navbar-expand-lg navbar-dark py-lg-3 px-sm-5 px-lg-2 px-3">
  <div class="container-fluid">
    <a class="navbar-brand ms-lg-5 ps-lg-5 me-lg-5" href="/#main">LOGO</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav text center ms-xl-5 ps-lg-5 me-lg-auto">
        <li class="nav-item ms-lg-4">
          <a class="nav-link" href="/#main">HOME</a>
        </li>
        <li class="nav-item ms-lg-4">
          <a class="nav-link" href="/#features">WORK</a>
        </li>
        <li class="nav-item ms-lg-4">
          <a class="nav-link" href="/#news">CONTACT</a>
        </li>
        <li class="nav-item ms-lg-4">
          <a class="nav-link" href="/#about">ABOUT ME</a>
        </li>
      </ul>
      <ul class="navbar-nav text center me-lg-5 pe-lg-5">
        <li class="nav-item">
          <a class="nav-link" href="/signup">SIGN UP</a>
        </li>
        <li class="nav-item">
          <a class="nav-link ms-lg-3" href="/login">LOGIN</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
