<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Header Template -->
    <%- include("partials/header"); %>

    <title>Admin Login</title>
  </head>
  <body class="bg-black">
    <!-- Navbar -->
    <%- include("partials/navbar"); %>
    <!-- End Navbar -->

    <!-- Form -->
    <div class="d-flex flex-column text-white text-center justify-content-center pt-5 mt-5">
      <h1 class="text-warning">Admin Login</h1>
      <form class="text-white" action="/admin" method="post">
        <div class="pt-2">
          <label for="username">Username</label>
          <br />
          <input type="text" name="username" required />
        </div>
        <div>
          <label for="password">Password</label>
          <br />
          <input type="password" name="password" required />
        </div>
        <div class="d-flex justify-content-center py-3">
          <button class="btn w-5 rounded bg-warning text-dark" type="submit">Login</button>
        </div>
      </form>
    </div>
    <!-- End Form -->

    <!-- Footer -->
    <%- include("partials/footer"); %>
    <!-- End Footer -->
  </body>
</html>
