<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Header Template -->
    <%- include("partials/header"); %>

    <title>Create User</title>
  </head>
  <body class="bg-black">
    <!-- Navbar -->
    <%- include("partials/navbar"); %>
    <!-- End Navbar -->

    <!-- Form -->
    <div class="d-flex flex-column text-center justify-content-center pt-5 mt-5">
      <h1 class="text-warning">Create User</h1>
      <form class="text-white" action="/dashboard/create" method="post">
        <div class="pt-2">
          <label for="username">Username</label>
          <br />
          <input type="text" name="username" required />
        </div>
        <div>
          <label for="password">Password</label>
          <br />
          <input type="password" name="password" required />
        </div>
        <div>
          <label for="fullname">Fullname</label>
          <br />
          <input type="text" name="fullname" required />
        </div>
        <div>
          <label for="age">Age</label>
          <br />
          <input type="number" name="age" required />
        </div>
        <div class="d-flex justify-content-center py-3">
          <button class="btn w-5 rounded bg-primary text-white" type="submit">Create</button>
        </div>
      </form>
      <a class="text-decoration-none link-white" href="/dashboard">
        <button type="button" class="btn w-5 rounded bg-secondary text-white">Cancel</button>
    </div>
    <!-- End Form -->

    <!-- Footer -->
    <%- include("partials/footer"); %>
    <!-- End Footer -->
  </body>
</html>
