<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Header Template -->
    <%- include("partials/header"); %>

    <title>Dashboard</title>
  </head>
  <body class="bg-black">
    <!-- Navbar -->
    <%- include("partials/navbar"); %>
    <!-- End Navbar -->

    <!-- Dashboard -->
    <div class="container">
      <div class="d-flex pt-5 mt-5 mb-3 justify-content-center">
        <h1 class="text-warning fs-1">Dashboard</h1>
      </div>
      <div class="table-container-fluid d-sm-flex justify-content-center">
        <div class="row w-75">
          <table class="table text-center text-white table-dark">
            <thead>
              <tr>
                <th>Id</th>
                <th class="w-25">Username</th>
                <th class="w-25">Fullname</th>
                <th class="w-25">Age</th>
                <th class="w-25">Score</th>
                <th>
                  <a class="text-decoration-none" href="/dashboard/create">
                    <button type="button" class="btn btn-primary">Create</button>
                  </a>
                </th>
              </tr>
            </thead>
            <tbody>
              <% users.forEach((data) => { %>
              <tr>
                <th scope="row"><%= data.id %></th>
                <td><%= data.username %></td>
                <td><%= data.UserGameBiodata.fullname %></td>
                <td><%= data.UserGameBiodata.age %></td>
                <td><%= data.UserGameHistories.score %></td>
                <td>
                  <div class="d-flex gap-2 text-nowrap">
                    <a class="btn btn-success btn-sm" href="/dashboard/edit/<%= data.id %>" role="button">Edit</a>
                    <form method="post" action="/dashboard/<%= data.id %>">
                      <button class="btn btn-danger btn-sm" type="submit">Delete</button>
                    </form>
                  </div>
                </td>
              </tr>
              <% }) %>
            </tbody>
          </table>
          <div class="d-flex justify-content-center">
            <form action="/dashboard" method="post">
              <button class="btn btn-secondary btn-sm" type="submit">Logout</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- End Dashboard -->

    <!-- Footer -->
    <%- include("partials/footer"); %>
    <!-- End Footer -->
  </body>
</html>
