<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Header Template -->
    <%- include("partials/header"); %>

    <title>Edit User</title>
  </head>
  <body class="bg-black">
    <!-- Navbar -->
    <%- include("partials/navbar"); %>
    <!-- End Navbar -->

    <!-- Form -->
    <div class="d-flex flex-column text-center justify-content-center pt-5 mt-5">
      <h1 class="text-warning">Edit User</h1>
      <form class="text-white" method="post" action="/dashboard/edit/<%= user.id %>">
        <div class="pt-2">
          <label for="username">Username</label>
          <br />
          <input type="text" name="username" value="<%= user.username %>" required />
        </div>
        <div>
          <label for="fullname">Fullname</label>
          <br />
          <input type="text" name="fullname" value="<%= biodata.fullname %>" required />
        </div>
        <div>
          <label for="age">Age</label>
          <br />
          <input type="number" name="age" value="<%= biodata.age %>" required />
        </div>
        <div class="d-flex justify-content-center py-3">
          <button class="btn w-5 rounded bg-success text-white" type="submit">Edit</button>
        </div>
      </form>
      <a class="text-decoration-none link-white" href="/dashboard">
        <button type="button" class="btn w-5 rounded bg-secondary text-white">Cancel</button>
      </a>
    </div>
    <!-- End Form -->

    <!-- Footer -->
    <%- include("partials/footer"); %>
    <!-- End Footer -->
  </body>
</html>
