<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Header Template -->
    <%- include("partials/header"); %>

    <!-- Custom Style CSS -->
    <link rel="stylesheet" href="./stylesheets/game.css" />

    <title>ROCK PAPER SCISSORS GAME</title>
  </head>
  <body>
    <!-- Navbar -->
    <%- include("partials/navbar"); %>
    <!-- End Navbar -->

    <!-- Header -->
    <header>
      <a href="/"><</a>
      <img src="images/logo.png" alt="logo" />
      <h1>ROCK PAPER SCISSORS</h1>
    </header>
    <!-- End Header -->

    <!-- Game -->
    <main>
      <div id="player1">
        <h2>PLAYER 1</h2>
        <div class="player1Pick batu">
          <input type="image" src="images/batu.png" onclick="playerPick(0)" />
        </div>
        <div class="player1Pick kertas">
          <input type="image" src="images/kertas.png" onclick="playerPick(1)" />
        </div>
        <div class="player1Pick gunting">
          <input type="image" src="images/gunting.png" onclick="playerPick(2)" />
        </div>
      </div>
      <div id="versus">
        <p class="vs">VS</p>
      </div>
      <div id="computer">
        <h2>COM</h2>
        <div class="computerPick batu">
          <img alt="batu" src="images/batu.png" />
        </div>
        <div class="computerPick kertas">
          <img alt="kertas" src="images/kertas.png" />
        </div>
        <div class="computerPick gunting">
          <img alt="gunting" src="images/gunting.png" />
        </div>
      </div>
      <div id="refresh">
        <input class="refresh" type="image" src="images/refresh.png" onclick="refresh()" />
      </div>
    </main>
    <!-- End Game -->

    <!-- Footer -->
    <%- include("partials/footer"); %>
    <!-- End Footer -->

    <!-- Game Script -->
    <script src="./javascript/gamevscom.js"></script>
  </body>
</html>
