<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Header Template -->
    <%- include("partials/header");  %> 

    <!-- Custom Style CSS -->
    <link rel="stylesheet" href="./stylesheets/style.css" />

    <title>Play Traditional Game</title>
  </head>
  <body>
    <!-- Navbar -->
    <%- include("partials/navbar");  %> 
    <!-- End Navbar -->

    <!-- Main -->
    <div id="main" class="main d-flex justify-content-center align-content-center">
      <div class="main-container d-flex justify-content-center align-content-center flex-column">
        <h1 class="main-title text-center fw-bold text-white mb-5 display-3">PLAY TRADITIONAL GAME</h1>
        <h3 class="main-text text-center fs-2 text-white px-2 mb-5">Experience new traditional game play</h3>
        <div class="d-flex justify-content-center align-content-center mt-4">
          <a class="text-decoration-none link-dark" href="/game">
           <button type="button" class="btn main-btn btn-lg text-nowrap"><strong>PLAY NOW</strong></button>
          </a>
        </div>
        <div class="main-scroll d-flex flex-column justify-content-center align-content-center">
          <a href="#about">
            <p class="main-scroll-text fs-6 fw-bold text-center text-white mb-1">THE STORY</p>
            <img class="main-scroll-btn mb-5" src="images/scroll.svg" alt="scroll" />
          </a>
        </div>
      </div>
    </div>
    <!-- End Main -->

    <!-- About -->
    <div id="about" class="about">
      <h3 class="about-text text-white mb-2">What's so special?</h3>
      <div class="about-container">
        <div class="row">
          <div class="about-banner col-lg-4">
            <h1 class="about-title text-white mb-5 display-2">THE GAMES</h1>
          </div>
          <div class="about-carousel col-lg-8">
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
              </div>
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="images/rockpaperstrategy-1600.png" class="d-block w-100" alt="rockpaperstrategy-1600" />
                </div>
                <div class="carousel-item">
                  <img src="images/rockwin.jpg" class="d-block w-100" alt="rockwin" />
                </div>
                <div class="carousel-item">
                  <img src="images/scissorswin.jpg" class="d-block w-100" alt="scissorswin" />
                </div>
                <div class="carousel-item">
                  <img src="images/paperwin.jpg" class="d-block w-100" alt="paperwin" />
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End About -->

    <!-- Fearures -->
    <div id="features" class="features">
      <div class="features-container">
        <div class="row">
          <div class="col-sm-2 col-md-3 col-lg-6 col-xl-7"></div>
          <div class="col-sm-8 col-md-6 col-lg-5 col-xl-4">
            <h1 class="features-title fs-2 text-white mb-2">What's so special?</h3>
            <h3 class="features-text text-white mb-5 pb-4 display-2">FEATURES</h1>
            <ul class="custom-marker ps-3">
              <li>
                <div class="first pb-5">
                  <h2 class="features1 ms-4 fs-3 text-warning mb-4">TRADITIONAL GAMES</h2>
                  <p class="features1-detail ms-4">If you miss your childhood, we provide many traditional games here</p>
                  <span></span>
                </div>
              </li>
              <li>
                <h2 class="features2 ms-4 fs-3 text-warning mb-5">GAME SUIT</h2>
              </li>
              <li>
                <h2 class="features3 ms-4 fs-3 text-warning">TBD</h2>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- End Features -->

    <!-- Requirements -->
    <div id="requirements" class="requirements">
      <h3 class="requirements-title fs-6 text-center text-white">Can My Computer Run this game?</h3>
      <div class="requirements-container">
        <div class="row my-lg-3 py-2">
          <div class="col-lg-6">
            <h3 class="requirements-text text-white display-2">SYSTEM</h1>
            <h3 class="requirements-text text-white mb-5 display-2">REQUIREMENTS</h1>
              <table class="table table-bordered table-responsive">
                <tbody>
                  <tr>
                    <th>
                      <h4>OS:</h4>
                      <p>Windows 7 64-bit only</p>
                      <p>(No OSX support at this time)</p>
                    </th>
                    <th>
                      <h4>PROCESSOR:</h4>
                      <p>Intel Core 2 Duo @ 2.4 GHZ or</p>
                      <P>AMD Athlon X2 @ 2.8 GHZ</P>
                    </th>
                  </tr>
                  <tr>
                    <th>
                      <h4>MEMORY:</h4>
                      <P>4GB RAM</P>
                    </th>
                    <th>
                      <h4>STRORAGE:</h4>
                      <p>8GB avaliable space</p>
                    </th>
                  </tr>
                  <tr>
                    <th colspan="2">
                      <h4>GRAPICS:</h4>
                      <p>NVIDIA GeForce GTX 660 2GB or</p>
                      <p>AMD Radeon HD 7850 2GB DirectX11 (Shader Model 5)</p>
                    </th>
                  </tr>
                </tbody>
              </table>
          </div>
        </div>
      </div>
    </div>
    <!-- End Requirements -->

    <!-- Quotes -->
    <div id="quotes" class="quotes">
      <div class="quotes-container">
        <div class="row">
          <div class="col-lg-5 p-5 d-flex flex-column justify-content-center align-content-center">
            <div class="quotes-banner">
              <h3 class="features-text text-white text-nowrap mb-4 display-2">TOP SCORES</h1>
              <p>This top score from various games provided on this platform</p>
              <a href="./dashboard">
                <button type="button" class="btn main-btn btn-lg text-black mt-4"><strong>See More</strong></button>
              </a>
            </div>
          </div>
          <div class="card-container col-lg-5 offset-lg-1">
            <div class="row">
              <div class="col-sm-5 offset-lg-3 mb-4">
                <div class="card">
                  <div class="card-header mb-0 pb-0 d-flex flex-row align-content-center justify-content-between">
                    <div class="card-header1 d-flex flex-row">
                      <img class="photo" src="images/photo1.png" alt="photo1">
                      <div class="photo-shadow"></div>
                      <div class="card-header-text d-flex flex-column justify-content-center align-content-center ps-4">
                        <h3>Evan Lahti</h3>
                        <p>PC Gamer</p>
                      </div>
                    </div>
                    <img class="icon" src="images/twitter.svg" alt="twitter">
                  </div>
                  <div class="card-body mt-0 pt-3 mb-xl-2">
                    <h6>“One of my gaming highlights of the year.”</h6>
                    <p>June 18, 2021</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-5 mb-4">
                <div class="card">
                  <div class="card-header mb-0 pb-0 d-flex flexgi-row align-content-center justify-content-between">
                    <div class="card-header1 d-flex flex-row">
                      <img class="photo" src="images/photo2.png" alt="photo1">
                      <div class="photo-shadow"></div>
                      <div class="card-header-text ps-4">
                        <h3>Jada Griffin</h3>
                        <p>Nerdreactor</p>
                      </div>
                    </div>
                    <img class="icon" src="images/twitter.svg" alt="twitter">
                  </div>
                  <div class="card-body mt-0 pt-2">
                    <h6>“The next big thing in the world of streaming and survival games.”</h6>
                    <p>June 10, 2021</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-5 offset-lg-3">
                <div class="card">
                  <div class="card-header mb-0 pb-0 d-flex flex-row align-content-center justify-content-between">
                    <div class="card-header1 d-flex flex-row">
                      <img class="photo" src="images/photo3.png" alt="photo1">
                      <div class="photo-shadow"></div>
                      <div class="card-header-text d-flex flex-column justify-content-center align-content-center ps-4">
                        <h3>Aaron Williams</h3>
                        <p>Uproxx</p>
                      </div>
                    </div>
                    <img class="icon" src="images/twitter.svg" alt="twitter">
                  </div>
                  <div class="card-body mt-0 pt-2">
                    <h6>“Snoop Dogg Playing The Wildly Entertaining ‘SOS’ Is Ridiculous.”</h6>
                    <p>December 24, 2018</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End Quotes -->

    <!-- Newsteller -->
    <div id="news" class="news">
        <div class="row">
          <div class="col-lg-6 col-md-1">
          </div>
          <div class="col-lg-6 col-md-10 col-sm-12">
            <h3 class="news-title fs-2 text-white mb-3">Want to stay in touch?</h3>
            <h3 class="news-text text-white mb-4 display-2">NEWSTELLER SUBSCRIBE</h1>
            <p class="text-white mb-5">In order to start receiving our news, all you have to do is enter your email address. Everything else will be taken care of by us. We will send you emails containing information about game. We don't spam.</p>
            <div class="news-input d-sm-flex flex-row flex-nowrap">
              <form class="form-floating mb-3">
                <input type="email" class="form-control fs-5 text-warning" id="floatingInputValue" placeholder="youremail@binar.co.id" value="youremail@binar.co.id">
                <label for="floatingInputValue" class="form-label">Your email adress</label>
              </form>
              <div class="news-btn">
                <button type="button" class="btn main-btn btn-lg ms-sm-3"><strong>Subscribe Now</strong></button>
              </div>
            </div>
          </div>
        </div>
    </div>
    <!-- End Newsteller -->

    <!-- Footer -->
    <%- include("partials/footer");  %> 
    <!-- End Footer -->
  </body>
</html>
