* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 1px;
}
/* Main */
.main {
  padding: 15% 3% 0 3%;
  background: radial-gradient(189.96% 61.18% at 50% 38.82%, rgba(255, 181, 72, 0) 0%, rgba(52, 44, 29, 0.80319) 73.22%, #08090a 99.74%), url("../images/main-bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
}
.main-btn {
  border: 0;
  background: linear-gradient(194.68deg, #ffb548 11.27%, #f3af34 90.4%);
  width: 260px;
  height: 56px;
}
.main a img {
  height: 20px;
  width: 20px;
  display: inline;
  margin: 0 49%;
}
.main-scroll {
  padding-top: 40%;
}
.main-scroll a {
  text-decoration: none;
}
/* About */
.about {
  padding: 10% 10%;
  background: radial-gradient(136.03% 54.57% at 50% 48.04%, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0) 60.63%, #080a0b 99.74%), url("../images/the-games-bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: auto;
}
/* Features */
.features {
  padding: 10% 7%;
  background: radial-gradient(51.1% 80.48% at 30.85% 53.65%, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0) 19.2%, rgba(4, 5, 6, 0.520671) 47.48%, #080a0b 99.74%), url("../images/features.jpg");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  width: 100%;
  overflow: hidden;
}
.custom-marker li:nth-child(1)::marker {
  content: url(../images/ellipse1.svg);
}
.custom-marker li::marker {
  content: url(../images/ellipse.svg);
}
.custom-marker {
  list-style: none;
}
.first {
  position: relative;
}
.first span {
  position: absolute;
  left: -9px;
  top: 15px;
  content: "";
  height: 99%;
  width: 0;
  border-left: 2px solid white;
}
.first p {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
}
/* Requirements */
.requirements {
  padding: 5% 10%;
  background: radial-gradient(33.26% 45% at 64.32% 47.1%, rgba(255, 255, 255, 0) 3.36%, rgba(0, 0, 0, 0) 19.22%, #080a0b 99.74%), url(../images/requirements.png);
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
  width: 100%;
}
.table {
  width: 575px;
  font-family: "Open Sans", sans-serif;
  color: white;
  border: 1px solid #979797;
}
.table tbody tr th {
  padding: 10px 15px 40px 15px;
}
.table tbody tr th h4 {
  color: #f3af34;
}
.table tbody tr th p {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 0;
}
/* Quotes */
.quotes {
  padding: 7% 10%;
  background: radial-gradient(70.52% 37.27% at 24.21% 47.47%, rgba(35, 15, 15, 0) 0%, rgba(0, 0, 0, 0) 51.1%, #080a0b 99.74%), url(../images/quotes.png);
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
  width: 100%;
}
.quotes p {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
}
.card {
  width: 28vw;
  background: rgba(255, 255, 255, 0.08);
  border-radius: 10px;
}
.photo {
  align-self: start;
  width: 62px;
  height: 62px;
  box-shadow: 0px 2px 6px rgba(47, 83, 151, 0.1);
  border-radius: 100px;
  position: absolute;
  z-index: 2;
}
.photo-shadow {
  margin-top: 2px;
  margin-left: 7px;
  width: 62px;
  height: 62px;
  background: #ffb548;
  box-shadow: 0px 2px 6px rgba(47, 83, 151, 0.1);
  border-radius: 100px;
}
.icon {
  margin-top: 15px;
  width: 18px;
  height: 14px;
}
.card-header-text h3 {
  margin-top: 10px;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  color: #ffb548;
  margin-bottom: 0;
}
.card-header-text p {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: grey;
}
.card-body h6 {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: white;
}
.card-body p {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: grey;
  margin-bottom: 0;
  padding-bottom: 0;
}
/* Newsteller */
.news {
  padding: 5% 7%;
  background: #080a0b;
  background-image: radial-gradient(45.43% 53.19% at 50% 50%, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0) 46.15%, #080a0b 99.74%), url(../images/skull.png);
  background-position-x: 25%;
  background-position-y: 50%;
  background-repeat: no-repeat;
  width: 100%;
}
.form-floating {
  width: 25vw;
}
.form-control {
  border: none;
  background: rgba(255, 255, 255, 0.08);
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 25px;
}
.form-control:focus {
  border: none;
  background: rgba(255, 255, 255, 0.08);
}
.form-label {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.5;
}

/* Breakpoint Extra Large 1200px */
@media (max-width: 1200px) {
  .main {
    padding-top: 27%;
  }
  .about {
    padding: 15% 10%;
  }
  .quotes {
    padding: 10% 5%;
  }
  .card {
    width: 32vw;
  }
  .news-btn button {
    width: 200px;
  }
}

/* Breakpoint Large 992px */
@media (max-width: 992px) {
  .main {
    padding-top: 27%;
  }
  .main-scroll {
    padding-top: 27%;
  }
  .about {
    padding: 15% 15%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    text-align: center;
  }
  .features {
    padding: 15% 7%;
  }
  .features-title {
    text-align: center;
  }
  .features-text {
    text-align: center;
  }
  .requirements {
    padding: 5% 15%;
  }
  .requirements-text {
    text-align: center;
  }
  .table {
    width: 100%;
  }
  .quotes {
    padding: 10% 25%;
  }
  .quotes-banner {
    text-align: center;
  }
  .card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .card {
    width: 50vw;
  }
  .card-body {
    text-align: center;
  }
  .news-title {
    text-align: center;
  }
  .news-text {
    text-align: center;
  }
  .form-floating {
    width: 50vw;
  }
  .copyright {
    text-align: center;
  }
  .copyright-end {
    text-align: center;
  }
  .news-btn button {
    width: 260px;
  }
}

/* Breakpoint Medium 768px */
@media (max-width: 768px) {
  .main {
    padding-top: 35%;
  }
  .main-scroll {
    padding-top: 35%;
  }
  .about {
    padding: 25% 10%;
  }
  .features {
    padding: 20% 7%;
  }
  .first span {
    top: 12px;
  }
  .requirements {
    padding: 5% 10%;
  }
  .news {
    padding: 10% 10%;
  }
  .news-btn button {
    width: 200px;
  }
  .quotes {
    padding: 10% 10%;
  }
  .card {
    width: 60vw;
  }
}
/* Breakpoint Small 576px */
@media (max-width: 576px) {
  .main {
    padding-top: 50%;
  }
  .main-scroll {
    padding-top: 50%;
  }
  .about {
    padding: 50% 5% 40% 5%;
  }
  .features {
    padding: 40% 5%;
  }
  .requirements {
    padding: 20% 5%;
  }
  .news {
    padding: 15% 10% 10% 10%;
  }
  .form-control {
    font-size: 14px;
    line-height: 20px;
  }
  .news-btn {
    display: flex;
    justify-content: center;
  }
  .quotes {
    padding: 10% 5%;
  }
  .card {
    width: 80vw;
  }
  .form-floating {
    width: 80vw;
  }
  .main-btn {
    width: auto;
    height: auto;
  }
}
/* Breakpoint Ekstra Small 456px */
@media (max-width: 456px) {
  .main {
    padding-top: 60%;
  }
  .main-scroll {
    padding-top: 55%;
  }
  .first span {
    top: 10px;
  }
  .news {
    padding: 15% 5% 10% 5%;
  }
  .form-floating {
    width: 90vw;
  }
  .quotes {
    padding: 10% 5%;
  }
  .card {
    width: 90vw;
  }
}
